[submodule "marbastlib"]
	path = marbastlib
	url = https://github.com/ebastler/marbastlib.git
[submodule "Bonsai-C"]
	path = Bonsai-C
	url = https://github.com/customMK/Bonsai-C.git
[submodule "shoesshenanigans"]
	path = shoesshenanigans
	url = https://github.com/shoonie-desu/shoesshenanigans.git
[submodule "RP2350_KiCad"]
	path = RP2350_KiCad
	url = https://github.com/HDR/RP2350_KiCad.git
